repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: check-added-large-files
  - id: check-ast
  - id: check-case-conflict
  - id: check-symlinks
  - id: trailing-whitespace
  - id: check-json
  - id: check-yaml
  - id: pretty-format-json
    args: [--autofix]
  - id: end-of-file-fixer
  - id: name-tests-test
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2  # Supports py3.8
  hooks:
  - id: mypy
    additional_dependencies: [types-PyYAML, types-polib]
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.8.0 # Supports py3.8
  hooks:
  - id: setup-cfg-fmt
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1 # Supports py3.8
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 25.9.0 # Supports py3.8
  hooks:
  - id: black
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --remove-unused-variables
    - --remove-all-unused-imports
